version: '3.9'

services:
  backend:
    build: ./backend
    container_name: eduhub-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: eduhub-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always
